////////////////////////////
// Create your site-specific
// styles here
////////////////////////////

// List style with large blue bullets
ul.large-bullets
  list-style: none
  margin: 0 0 10px 0
  padding: 0
  li
    &:before
      content: "•"
      @extend %royal-blue
      font-size: 21px
      margin-right: 6px

// Default page styles
// styling for fixed background image
#page-wrapper
//  background: image_url("bg.png") center top no-repeat
  background: rgb(221, 221, 221)
  background-color: $black
  position: fixed
  width: 100%
  height: 100%

// Styling for page region
#page
  // Background fallback
  background: rgb(255, 255, 255)
  background: rgba($white, 0.8)
  margin: 0 auto
  max-width: 1020px
  padding: 0 30px
  position: relative
  .ie8 &,
  .ie7 &
    min-width: 960px
  .ie6 &
    width: 1020px
  .ie8 &,
  .ie7 &,
  .ie6 &
    background: transparent
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#ccffffff, endColorstr=#ccffffff)
  +breakpoint($bp-thick-page-padding)
    padding: 0 0.5em

// MAIN CONTENT

// Labels that are displayed inline with items like on shapers' bios
.field-label
  @extend %black
  font-size: 14px

.label-inline
  @extend %inline

// CONTENT-SPECIFIC ICONS USED GLOBALLY ON SITE
.weforum-icon
  padding-right: 6px
  margin-bottom: 6px
  float: right

// For project content
.weforum-icon.project
  &:after
    +icons-sprite(icon-lg-projects)
    content: $space
    @extend %float-right
    [dir="rtl"] &
      @extend %float-left

// For shaper content
.weforum-icon.shaper
  &:after
    +icons-sprite(icon-lg-shapers)
    content: $space
    [dir="rtl"] &
      @extend %float-left

// For news and events content
.weforum-icon.news
  &:after
    +icons-sprite(icon-lg-news)
    content: $space
    @extend %float-right
    position: relative
    top: 4px
    [dir="rtl"] &
      @extend %float-left

// For events content
.weforum-icon.events
  &:after
    +icons-sprite(icon-lg-events)
    content: $space
    @extend %float-right
    position: relative
    top: 4px
    [dir="rtl"] &
      @extend %float-left

// For hub content
.weforum-icon.hubs
  &:after
    +icons-sprite(icon-lg-hubs)
    content: $space
    [dir="rtl"] &
      @extend %float-left

// Add the video icon to the corner of videos
// Video in a slideshow
.views-field-field-video
  position: absolute
  top: 0
  .field-content
    &:after
      +icons-sprite(icon-lg-video)
      content: $space
      position: relative
      left: 665px
      top: -35px

// Wrapper to add a border bottom to body content
.border-wrapper
  @extend %section-border-bottom
  margin-bottom: 10px

// Remove white background on page and webform nodes
.node-type-page,
.node-type-webform
  .pane-node-content
    background-color: transparent

