// GLOBAL AND HUB SLIDESHOW ON LANDING PAGES

.weforum-slideshow
  .view-content
    position: relative

.weforum-slideshow-pager
  text-align: center
  background-color: $white
  @extend %padding-top
  height: 40px
  @extend  %section-border-bottom
  @extend  %section-border-top
  margin-top: -33px
  +breakpoint($bp-narrow)
    text-align: right
    padding-right: 0.5em
  span
    cursor: pointer
    @extend %inline-block

  .pager-button
    +hide-text
    +icons-sprite(slideshow-counter)
    margin: 0 4px
    .ie7 &
      background-image: none
      text-indent: 0
      overflow: visible
    &.active,
    &:hover
      +hide-text
      +icons-sprite(slideshow-counter-active)
      .ie7 &
        background-image: none
        text-indent: 0
        overflow: visible
  .item-prev
    +hide-text
    +icons-sprite(slideshow-arrow-back)
    [dir="rtl"] &
      +hide-text
      +icons-sprite(slideshow-arrow-forward)
    .ie7 &
      background-image: none
      text-indent: 0
      overflow: visible
    &:hover
      +hide-text
      +icons-sprite(slideshow-arrow-back-hover)
      [dir="rtl"] &
        +hide-text
        +icons-sprite(slideshow-arrow-forward-hover)
      .ie7 &
        background-image: none
        text-indent: 0
        overflow: visible

  .item-next
    +hide-text
    +icons-sprite(slideshow-arrow-forward)
    [dir="rtl"] &
      +hide-text
      +icons-sprite(slideshow-arrow-back)
    .ie7 &
      background-image: none
      text-indent: 0
      overflow: visible
    &:hover
      +hide-text
      +icons-sprite(slideshow-arrow-forward-hover)
      [dir="rtl"] &
        +hide-text
        +icons-sprite(slideshow-arrow-back-hover)
      .ie7 &
        background-image: none
        text-indent: 0
        overflow: visible

// Regular slideshow slide
// position
.weforum-slideshow-item
  @extend %relative
  .slider-wrapper
    @extend %absolute
    top: 0
    height: 100%
    width: 400px
    min-width: percentage(400px / 700px)
    max-width: 100%
    padding: 0 20px
    overflow: hidden
  .bottom-wrapper
    @extend %absolute
    bottom: 0
    padding-right: 20px
    padding-bottom: 10px
    .ie7 &
      bottom: 70px
  .top-wrapper
    top: 0
    padding-right: 20px
    padding-top: 20px

// module
.weforum-slideshow-item
  color: $white
  .slider-wrapper
    background-color: $black
    filter: alpha(opacity=50)
    background-color: rgba($black, 0.5)
  .title
    a
      border-bottom: none
      color: $white
      font-size: 40px
      line-height: 1
      &:visited,
      &:hover
        color: $white
  .teaser
    color: $white
    font-size: 18px

// Feature title styling
.weforum-slideshow-pane,
.pane-featured-slider-per-hub-panel-pane-3,
.pane-featured-slider-per-hub-panel-pane-4,
.pane-featured-slider-per-hub-panel-pane-5
  h2
    left: 10px
    padding: 0 0 0 0.5em
    margin-top: 33px
    width: 0
    position: relative
    z-index: 1
    [dir="rtl"] &
      left: -6px

// Featured shaper slideshow slide
// Overlay details

.shaper-teaser
  font-size: 16px
  line-height: 1.3
  margin-bottom: 20px
  position: relative
  z-index: 3
  p:first-of-type
    margin: 0
    &:before
      content: "“"
  p:last-of-type
    &:after
      content: "”"

.shaper-title
  line-height: 1.2
  position: relative
  z-index: 3
  a
    color: $white
    font-size: 18px
    @extend %weight-500
    border-bottom: none

.shaper-hub
  color: $white
  line-height: 1
  position: relative
  z-index: 3
  a
    color: $white
    border-bottom: none
    @extend %weight-300

.slider-wrapper.News,
.slider-wrapper.Project
  .top-wrapper
    display: none

.slider-wrapper.Shaper
  .bottom-wrapper
    display: none
